---
import { articles } from "../libraries/articles";
import { Icon } from "astro-icon/components";

type Props = {
  /**
   * The internal slug of the reference. It must be a valid slug of an article loaded in the site.
   * @see {@link articles} for the list of available articles.
   */
  slug: string;
  /**
   * The optional heading ID to link to. If the article has no heading with the given ID, an error
   * will be thrown.
   */
  headingId?: string;
};

const { slug, headingId } = Astro.props;
const found = articles.find((article) => article.slug === slug);

if (!found) {
  throw new Error(`The article with slug "${slug}" was not found.`);
}

const heading = found
  .getHeadings()
  .find((heading) => heading.slug === headingId);

if (headingId && !heading) {
  throw new Error(
    `The heading with ID "${headingId}" was not found in the article with slug "${slug}".`,
  );
}
---

<span>
  <Icon name="document" />
  <a href={`/${slug}${heading ? `#${headingId}` : ""}`}>
    <slot>{heading?.text ?? found.frontmatter.title}</slot>
  </a>
</span>

<style>
  [data-icon="document"] {
    vertical-align: sub;
    height: 1.1em;
    color: rgb(158, 120, 255);
  }
  a {
    display: inline-block;
  }
</style>
