---
import Layout from "../layouts/Layout.astro";
import Tags from "../components/Tags.astro";
import Topbar from "../components/Topbar.astro";
import { type Article } from "../types";
import { articles } from "../libraries/articles";
import Footer from "../components/Footer.astro";
import BackgroundCells from "../components/BackgroundCells.astro";
import FancyHr from "../components/FancyHr.astro";
import Img from "../mdx-components/Img.astro";
import Ref from "../mdx-components/Ref.astro";

export async function getStaticPaths() {
  return articles.map(({ slug, ...rest }) => {
    return {
      params: { slug },
      props: rest,
    };
  });
}

type Props = Article;

const {
  frontmatter: { title, description, tags },
  getHeadings,
  Content,
} = Astro.props;

if (!Content) {
  return Astro.redirect("/404");
}
---

<Layout title={title} description={description}>
  <Topbar />
  <FancyHr />
  <main>
    <article>
      <BackgroundCells class="background-cells" />
      <div class="metadata">
        <Tags data={tags} />
        <h1>{title}</h1>
        <p class="description">
          {description}
        </p>
      </div>
      <div class="content">
        <nav class="toc">
          <h2>Table of Contents</h2>
          <ul>
            {
              getHeadings()
                .filter(({ depth }) => depth < 3)
                .map(({ slug, text }) => (
                  <li>
                    <a href={`#${slug}`}>{text}</a>
                  </li>
                ))
            }
          </ul>
        </nav>
        <div class="main-body">
          <Content components={{ img: Img, Ref }} />
        </div>
      </div>
    </article>
    <Footer />
  </main>
</Layout>

<style>
  article {
    margin: 0 auto;
    padding: 0 var(--content-padding);
    max-width: var(--content-max-width);
    position: relative;
  }
  .background-cells {
    position: absolute;
    z-index: -1;
    right: 12px;
    top: 100px;
  }
  @media (max-width: 810px) {
    .background-cells {
      display: none;
    }
  }
  div.metadata {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 4rem;
  }
  div.metadata h1 {
    width: 100%;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4;
  }
  div.metadata p.description {
    margin-block: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    font-weight: normal;
    line-height: 1.8;
  }
  div.metadata {
    margin: 0 auto;
    text-align: start;
  }
  div.content {
    display: flex;
    gap: 48px;
    align-items: flex-start;
    margin: 100px auto 40px;
    position: relative;
    background-color: black;
    min-height: 50vh;
    font-size: 18px;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.8);
  }
  @media screen and (max-width: 999px) {
    nav.toc {
      display: none;
    }
  }
  nav.toc {
    margin-block-start: 40px;
    flex: 0 0 240px;
    font-size: 16px;
    line-height: 26px;
    position: sticky;
    top: 32px;
  }
  nav.toc h2 {
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
  }
  nav.toc ul {
    list-style-type: none;
    margin-block-start: 32px;
    padding-inline-start: 0;
  }
  nav.toc ul li {
    margin-block: 20px;
  }
  nav.toc a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
  }
  nav.toc a:hover {
    text-decoration: underline;
  }
  .main-body {
    flex: 1;
    overflow: hidden;
  }
  .main-body :global(h2) {
    color: #fff;
    margin-block-start: 40px;
    font-size: 24px;
    line-height: 1.4;
  }
  .main-body :global(h3) {
    color: #fff;
    margin-block-start: 36px;
    font-size: 20px;
    line-height: 1.4;
  }
  .main-body :global(h4) {
    color: #fff;
    margin-block-start: 28px;
    font-size: 18px;
    line-height: 1.4;
  }
  .main-body :global(h5) {
    color: #fff;
    margin-block-start: 24px;
    font-size: 16px;
    line-height: 1.4;
  }
  .main-body :global(ol),
  .main-body :global(ul) {
    margin-block: 10px;
    padding-inline-start: 20px;
  }

  .main-body :global(a) {
    color: rgb(158, 120, 255);
    text-decoration: none;
  }
  .main-body :global(a:hover) {
    text-decoration: underline;
  }
  .main-body :global(img) {
    max-width: 100%;
  }
  .main-body :global(pre) {
    padding: 24px;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 16px;
    font:
      400 14px / 20px "Fira Code",
      "Roboto Mono",
      monospace;
  }
</style>
