---
import Layout from "../layouts/Layout.astro";
import Tags from "../components/Tags.astro";
import Topbar from "../components/Topbar.astro";
import { type Article } from "../types";
import { articles } from "../libraries/articles";
import Footer from "../components/Footer.astro";
import BackgroundCells from "../components/BackgroundCells.astro";
import FancyHr from "../components/FancyHr.astro";
import Img from "../mdx-components/Img.astro";
import Ref from "../mdx-components/Ref.astro";
import SeeAlso from "../mdx-components/SeeAlso.astro";
import Resources from "../mdx-components/Resources.astro";
import TextLink from "../mdx-components/TextLink.astro";
import ShareButton from "../components/ShareButton.astro";

export async function getStaticPaths() {
  return articles.map(({ slug, ...rest }) => {
    return {
      params: { slug },
      props: rest,
    };
  });
}

type Props = Article;

const {
  frontmatter: { title, description, tags },
  getHeadings,
  Content,
} = Astro.props;

if (!Content) {
  return Astro.redirect("/404");
}

if (getHeadings().some(({ depth }) => depth === 1)) {
  throw new Error("The article must not contain a top-level heading.");
}
---

<Layout title={title} description={description}>
  <Topbar />
  <FancyHr />
  <main>
    <article>
      <BackgroundCells class="background-cells" />
      <div class="metadata">
        <Tags data={tags} />
        <h1>{title}</h1>
        <p class="description">
          {description}
        </p>
        <aside class="share">
          <span>Share</span>
          <div>
            <ShareButton type="x" title={title} />
            <ShareButton type="reddit" title={title} />
            <ShareButton type="linked-in" title={title} />
            <ShareButton type="hacker-news" title={title} />
          </div>
        </aside>
      </div>
      <div class="content">
        <nav class="toc">
          <h2>Table of Contents</h2>
          <ul>
            {
              getHeadings()
                .filter(({ depth }) => depth < 3)
                .map(({ slug, text }) => (
                  <li>
                    <a href={`#${slug}`}>{text}</a>
                  </li>
                ))
            }
          </ul>
        </nav>
        <div class="main-body">
          <Content
            components={{ a: TextLink, img: Img, Ref, SeeAlso, Resources }}
          />
        </div>
      </div>
    </article>
    <Footer />
  </main>
</Layout>

<style>
  article {
    margin: 0 auto;
    padding: 0 var(--content-padding);
    max-width: var(--content-max-width);
    position: relative;
  }
  .background-cells {
    position: absolute;
    z-index: -1;
    right: 12px;
    top: 100px;
  }
  @media (max-width: 810px) {
    .background-cells {
      display: none;
    }
  }
  div.metadata {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 4rem;
  }
  div.metadata h1 {
    width: 100%;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4;
  }
  div.metadata p.description {
    margin-block: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    font-weight: normal;
    line-height: 1.8;
  }
  div.metadata {
    margin: 0 auto;
    text-align: start;
  }
  aside.share {
    margin-block: 20px;
    display: flex;
    align-items: center;
    color: #a9acac;
    gap: 24px;
    font-weight: 600;
  }
  aside.share div {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
  div.content {
    display: flex;
    gap: 48px;
    align-items: flex-start;
    margin: 100px auto 40px;
    position: relative;
    background-color: black;
    min-height: 50vh;
    color: rgba(255, 255, 255, 0.8);
  }
  nav.toc {
    margin-block-start: 40px;
    flex: 0 0 240px;
    font-size: 16px;
    line-height: 26px;
    position: sticky;
    top: 32px;
  }
  nav.toc h2 {
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
  }
  nav.toc ul {
    list-style-type: none;
    margin-block-start: 32px;
    padding-inline-start: 0;
  }
  nav.toc ul li {
    margin-block: 20px;
  }
  nav.toc a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
  }
  nav.toc a:hover {
    text-decoration: underline;
  }
  .main-body {
    flex: 1;
    overflow: hidden;
    font-size: 18px;
    line-height: 1.8;
  }
  .main-body :global(h2) {
    color: #fff;
    margin-block-start: 40px;
    font-size: 24px;
    line-height: 1.4;
  }
  .main-body :global(h3) {
    color: #fff;
    margin-block-start: 36px;
    font-size: 20px;
    line-height: 1.4;
  }
  .main-body :global(h4) {
    color: #fff;
    margin-block-start: 28px;
    font-size: 18px;
    line-height: 1.4;
  }
  .main-body :global(h5) {
    color: #fff;
    margin-block-start: 24px;
    font-size: 16px;
    line-height: 1.4;
  }
  .main-body :global(ol),
  .main-body :global(ul) {
    margin-block: 10px;
    padding-inline-start: 20px;
  }

  .main-body :global(a) {
    color: rgb(158, 120, 255);
    text-decoration: none;
  }
  .main-body :global(a:hover) {
    text-decoration: underline;
  }
  .main-body :global(img) {
    max-width: 100%;
  }
  .main-body :global(:not(pre) code) {
    font-size: 85%;
    padding: 0.2em 0.4em;
    background-color: #f7f8f829;
    border-radius: 4px;
    border: 1px solid #f7f8f824;
    color: #f7f8f8;
  }
  .main-body :global(pre) {
    padding: 24px;
    margin-block: 1em;
    overflow: auto;
    border-radius: 16px;
    font-size: 14px;
    line-height: 20px;
  }
  .main-body :global(table) {
    font-size: 14px;
    line-height: 20px;
    color: #f7f8f8;
    border-spacing: 0;
    margin-block: 1em;
  }
  .main-body :global(thead),
  .main-body :global(tbody) {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .main-body :global(td) {
    background-color: rgba(255, 255, 255, 0.04);
  }
  .main-body :global(th),
  .main-body :global(td) {
    padding: 10px 12px;
  }
  /* Render table border radius */
  .main-body :global(tr:first-child th:first-child) {
    border-top-left-radius: 8px;
  }
  .main-body :global(tr:first-child th:last-child) {
    border-top-right-radius: 8px;
  }
  .main-body :global(tr:last-child td:first-child) {
    border-bottom-left-radius: 8px;
  }
  .main-body :global(tr:last-child td:last-child) {
    border-bottom-right-radius: 8px;
  }
  /* Render table border for preciesly 1px without overlapping between cells */
  .main-body :global(th),
  .main-body :global(td) {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: rgba(255, 255, 255, 0.1);
  }
  .main-body :global(tr:first-child th) {
    border-top-width: 1px;
  }
  .main-body :global(th:first-child),
  .main-body :global(td:first-child) {
    border-left-width: 1px;
  }
  .main-body :global(blockquote) {
    margin-inline: 0;
    margin-block: 20px;
    padding: 12px 24px 12px 20px;
    font-size: 16px;
    border-left: 4px solid #a9acac;
    border-radius: 4px;
    background-color: #f7f8f820;
    color: #f7f8f8;
  }
  .main-body :global(blockquote p) {
    margin-block: 0;
  }
  .main-body :global(section[data-footnotes]) {
    margin-block-start: 32px;
    padding: 20px 0;
  }
  .main-body :global(hr) {
    margin-block: 24px;
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .main-body :global(#footnote-label) {
    font-weight: 600;
  }
  @media (max-width: 999px) {
    div.content {
      margin-top: 40px;
    }
    nav.toc {
      display: none;
    }
  }
</style>
