---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Topbar from "../components/Topbar.astro";
import Footer from "../components/Footer.astro";
import BackgroundBanner from "../components/BackgroundBanner.astro";
import Share from "../components/Share.astro";
import { getPhrases } from "../phrases";
import { getCollection } from "astro:content";
import { defaultLocale } from "astro-i18n-aut";
import { getLocaleFromUrl } from "../utils/locale";
import anyAscii from "any-ascii";
import cover from "../assets/cover.png";

const locale = getLocaleFromUrl(Astro.url);
const defaultEntries = await getCollection("terms", (entry) =>
  entry.slug.startsWith(`${defaultLocale}/`),
);
const localizedEntries = await getCollection("terms", (entry) =>
  entry.slug.startsWith(`${locale}/`),
);

const entries = defaultEntries.map((entry) => {
  const [_, ...rest] = entry.slug.split("/");
  const entrySlug = rest.join("/");
  const localizedEntry = localizedEntries.find(
    ({ slug }) => slug === `${locale}/${entrySlug}`,
  );
  return localizedEntry ?? entry;
});

const sections = entries
  .slice()
  .sort((a, b) =>
    anyAscii(a.data.title)
      .toLowerCase()
      .localeCompare(anyAscii(b.data.title).toLowerCase()),
  )
  .reduce(
    (acc, article) => {
      const firstLetter = anyAscii(article.data.title)[0]?.toUpperCase();

      if (!firstLetter) {
        throw new Error(
          `No first letter found for article ${article.data.title}`,
        );
      }

      if (!acc[firstLetter]) {
        acc[firstLetter] = [];
      }
      acc[firstLetter].push(article);
      return acc;
    },
    {} as Record<string, typeof entries>,
  );

const phrases = getPhrases(locale);
---

<Layout coverUrl={cover.src}>
  <Topbar />
  <main>
    <header>
      <div class="background"></div>
      <div class="metadata">
        <BackgroundBanner />
        <h1><span class="purple">Auth</span> Wiki</h1>
        <ul>
          <li>OpenID Connect</li>
          <li>OAuth 2.0</li>
          <li>SAML</li>
        </ul>
        <p set:html={phrases.home.description} />
        <Share title="Auth Wiki" shareText={phrases.general.share} />
      </div>
    </header>
    <div class="content">
      {
        Object.entries(sections).map(([letter, entries]) => (
          <section>
            <h2>{letter}</h2>
            <div class="cards">
              {entries.map((entry) => (
                <Card entry={entry} />
              ))}
            </div>
          </section>
        ))
      }
    </div>
    <Footer />
  </main>

  <style>
    /* Load fonts */
    @import url("https://fonts.googleapis.com/css2?family=Cantata+One&display=swap");
    html,
    body {
      overflow-x: hidden;
    }
    header {
      position: relative;
    }
    header div.background {
      z-index: -1;
      position: absolute;
      inset: -100px 0 0;
      background: linear-gradient(180deg, #310085 0%, rgb(187, 62, 250) 125%);
    }
    header div.metadata {
      position: relative;
      padding: var(--content-padding);
      max-width: var(--content-max-width);
      margin: 0 auto;
    }
    header ul {
      display: flex;
      gap: 12px;
      list-style-type: none;
      margin-block: 40px;
      padding: 0;
      flex-wrap: wrap;
    }
    header ul li {
      padding: 4px 12px;
      background-color: rgba(182, 92, 255, 0.3);
      border: 1px solid #d19dfc;
      border-radius: 20px;
      color: #e8ccff;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0;
    }
    header p {
      max-width: 760px;
      font-size: 20px;
      line-height: 36px;
      margin: 0;
    }
    header p :global(a) {
      color: #f1e8ff;
      text-decoration: none;
    }
    header p :global(a:hover) {
      text-decoration: underline 1.5px;
      text-underline-offset: 2px;
    }
    header :global(aside.share) {
      margin-block-start: 40px;
    }
    h1 {
      margin-block-start: 120px;
      margin-block-end: var(--content-padding);
      font-size: 92px;
      line-height: 100px;
      color: #fff;
    }
    h2 {
      color: #944694;
      font-family: "Cantata One", "Cantata One Placeholder", serif;
      font-size: 40px;
      font-weight: 400;
      line-height: 48px;
      margin: 80px 0 24px;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      color: #fff;
    }
    div.content {
      position: relative;
      height: min-content;
      margin: 0 auto;
      padding: 0 var(--content-padding);
      max-width: var(--content-max-width);
    }
    div.cards {
      margin: 0 auto;
      display: grid;
      gap: 24px;
      grid-auto-rows: min-content;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      justify-content: center;
      width: 100%;
    }
    @media (max-width: 810px) {
      h1 {
        margin-block-start: 100px;
        font-size: 72px;
        line-height: 80px;
      }
      div.cards {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
    }
    @media (prefers-color-scheme: dark) {
      h1 span.purple {
        color: #ad4ffc;
      }
      h2 {
        color: var(--color-text);
      }
      p {
        color: rgba(255, 255, 255, 0.7);
      }
      header div.background {
        display: none;
      }
      header p :global(a) {
        color: #cabeff;
      }
    }
  </style>
</Layout>
