---
import { defaultLocale, getLocale } from "astro-i18n-aut";
import type { CollectionEntry } from "astro:content";
import { getPhrases } from "../phrases";

type Props = {
  entry: CollectionEntry<"terms">;
};

const {
  slug: rawSlug,
  data: { title, description },
} = Astro.props.entry;
const slug = rawSlug.startsWith(`${defaultLocale}/`)
  ? rawSlug.slice(defaultLocale.length + 1)
  : rawSlug;
const locale = getLocale(Astro.url);
const phrases = getPhrases(locale);
---

<section>
  <h3>
    {title}
  </h3>
  <p>
    {description}
  </p>
  <hr />
  <a href={`/${slug}`}>{phrases.general.learn_more}</a>
</section>

<style>
  section {
    color: var(--color-text);
    text-decoration: none;
    background-color: #fff;
    border-radius: 24px;
    border: 1px solid #e5e1ec;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
    justify-content: flex-start;
    overflow: hidden;
    padding: 28px;
    position: relative;
    transition:
      background-color 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;
    min-width: 240px;
  }
  h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
  }
  p {
    flex-grow: 1;
    font-size: 16px;
    line-height: 28px;
    color: var(--color-text);
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  hr {
    margin-block: 4px;
    border: none;
    height: 1px;
    width: 100%;
    background-color: #e5e1ec;
  }
  a {
    color: #ad4ffc;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  @media (max-width: 810px) {
    section {
      padding: 28px 24px;
    }
  }
  @media (prefers-color-scheme: dark) {
    section {
      background-color: rgba(255, 255, 255, 0.04);
      background: radial-gradient(
          50% 50% at 50% 50%,
          rgba(255, 255, 255, 0.04) 0%,
          rgba(255, 255, 255, 0.04) 100%
        )
        rgba(255, 255, 255, 0.04);
      border: 1px solid rgba(255, 255, 255, 0.04);
    }
    p {
      color: rgba(255, 255, 255, 0.7);
    }
    hr {
      background-color: rgba(255, 255, 255, 0.08);
    }
    a {
      color: var(--color-link);
    }
  }
</style>
